<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Видео</a>
    <a class="navbar-brand" href="{% url 'profile-list' %}">Профили</a>
    <a class="navbar-brand" href="{% url 'group-list' %}">Группы</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 d-flex flex-row" method="GET" action="{% url 'video-search' %}">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
        <button class="search-button" type="submit"><ion-icon name="search-outline"></ion-icon></button>
      </form>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="">Профиль: {{ user.username }}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'video-create' %}">Загрузить видео</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Выйти из профиля</a>
        </li>

         {% if user.profile.pk %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' user.profile.pk %}">
                <img src="{{ user.profile.image.url }}" width="35" height="35" class="d-inline-block rounded-circle" alt="Profile">
            </a>
        </li>
        {% endif %}

        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'registration-choice' %}">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Войти</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>